h1 {
    font-family: 'K2D', sans-serif;
    font-size: 65px;
}

p {
    font-family: monospace;
    font-size: 18px;
}

/* home section */
.home {
    z-index: 50;
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #00ACED;
    color: black;
    padding: 0 15px 25px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.home > h1 {
    padding-top: 50px;
    font-size: 50px;
}

.home > p {
    padding: 10px 50px 0 50px;
    color: white;
}

.home > .signature {
    text-align: right;
    color: black;
    font-family: monospace;
    font-size: 18px;
}

/* social section */
.social {
    z-index: 49;
    height: 450px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.social-bg {
    height: 450px;
    background: url(../images/social-media.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.social-info {
    text-align: center;
    padding-bottom: 25px;
}

.social-info > h1 {
    padding-top: 25px;
    font-size: 50px;
}

.social-info > p {
    padding: 10px 50px 0 50px;
}

.todd-contact {
    cursor: pointer;
    padding: 10px;
    font-size: 75px;
}

.todd-contact:hover {
    background-color: #00ACED;
    color: white;
    border-radius: 10px;
}

@media screen and (max-width: 767px){
    .social-bg {
        display: none;
    }

    .todd-contact {
        font-size: 60px;
    }
}

/* Projects Section */
.projects {
    z-index: 48;
    height: 550px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.projects-info {
    height: 550px;
    text-align: center;
    background-color: #00ACED;
}

.projects-info > h1 {
    padding-top: 25px;
    font-size: 50px;
}

.projects-info > p {
    padding: 10px 50px 0 50px;
    color: white;
}

/* Hamburger Menu */
.hamburger-menu {
    cursor: pointer;
    display: relative;
    position: fixed;
    z-index: 999;
    top: 15px;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: #333;
    color: white;
}

.hamburger-menu > i {
    font-size: 40px;
    transform: translate(7px, 5px);
}

/* Scroll to Top */
.scroll-to-top {
    cursor: pointer;
    display: none;
    position: sticky;
    z-index: 999;
    bottom: 15px;
    left: calc(100% - 5px);
    height: 50px;
    width: 50px;
    background-color: #333;
    color: white;
}

.scroll-to-top > i {
    font-size: 40px;
    transform: translate(7px, 5px);
}