@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.ttf');
}

body {
	color: rgba(12, 0, 70, 1);
}

p {
	font-family: 'Georgia', cursive;
}

.header {
	height: 100vw;
	max-height: 50vh;
	position: relative;
    background: url(../images/wander-background.png) no-repeat;
    background-size: cover;
    background-position: right;
    text-align: center;
}

.header > h1 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 15vw;
}

.row > div {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	margin-top: 25px;
}

i {
	font-size: 75px;
	cursor: pointer;
	transition: all 0.5s ease;
	padding: 10px;
}

.fa-user-circle {
	font-size: 75px;
}

.face-img {
	transform: translateY(25%);
}

.bottom-toolbar {
	margin-top: 25px;
	text-align: center;
	background-color: rgba(12, 0, 70, 1);
	color: rgba(256, 256, 256, 0.7);
}

.anon-font {
	font-family: 'Anonymous Pro', monospace;
}

@media screen and (max-width: 320px) {
	#anchor-iframe {
		width: 250px;
	}
}

@media screen and (max-width: 635px) {
	.header {
		background: url(../images/wander.jpg);
		background-size: cover;
		background-position: top;
	}
}

@media screen and (min-width: 768px) {
	.header > h1 {
		font-size: 100px;
	}
}