body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 40px;
}

#header {
    width: 25vw;
    position: absolute;
    top: 3vh;
    left: calc(50vw - 12.5vw);
    z-index: 5;
}

#builders {
    width: 75vw;
    position: absolute;
    top: 15vh;
    left: 12.5vw;
    opacity: 0.5;
    z-index: 1;
}

#welcome-text {
    margin-top: 50vh;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
    font-size: 50px;
}