/* GLOBALS  ------------------------------- */


/* Icons Sourced from: https://www.iconfinder.com/iconsets/core-ui-outlined */

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    /* Minimum Width for Webpage */
    min-width: 300px;
    /* Suppose you want minimum width of 1000px */
    width: auto !important;
    /* Firefox will set width as auto */
    width: 300px;
    /* As IE6 ignores !important it will set width as 1000px; */
    /* No user selection */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    font-family: 'Oxygen Mono', monospace;
}

@font-face {
    font-family: quantum;
    src: url(fonts/Quantum.otf);
    font-weight: 400;
}

h1 {
    font-size: 7vmin;
    padding: 25px;
}

p {
    padding: 25px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

section {
    padding: 0;
    margin: 0;
    height: auto;
    z-index: 1;
    width: 100%;
}


/* HEADER -------------------------------------------------------- */

#header-section {
    background-color: #53748A;
    display: block;
    position: fixed;
    top: 0;
    height: 75px;
    z-index: 9990;
    border: 1px solid rgb(29, 29, 29);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

header {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 75px;
    width: 751px;
    margin-left: auto;
    margin-right: auto;
}

#desktop-banner>img {
    height: 50px;
    padding: 7.5px;
    position: relative;
}

#mobile-banner {
    display: none;
}

#mobile-banner>img {
    height: 50px;
    padding: 7.5px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 825px) {
    header {
        width: 100%;
        margin: 0;
    }
    #desktop-banner {
        display: none;
    }
    #mobile-banner {
        display: block;
    }
}


/* MENU -------------------------------------------------------- */

#menu-label {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    height: 50px;
    width: 50px;
    background-image: url(icons/menu\ open.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transform: rotate(90deg);
    filter: invert(100%);
}

@media screen and (max-width: 825px) {
    #menu-label {
        height: 35px;
        width: 35px;
    }
}

#menu-box:checked~label {
    animation: rotate180;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes rotate {
    0% {
        transform: rotate(180deg);
        /* filter: invert(100%); */
        background-image: url(icons/menu\ open.png);
    }
    100% {
        transform: rotate(0);
        background-image: url(icons/menu\ open.png);
    }
}

@keyframes rotate180 {
    0% {
        transform: rotate(0);
        background-image: url(icons/menu\ open.png);
    }
    100% {
        transform: rotate(180deg);
        /* filter: invert(100%); */
        background-image: url(icons/menu\ open.png);
    }
}

#menu-box:checked~nav {
    /* animation: menu-open;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; */
}


/* TRANSITION SECTIONS -------------------------------------------------------- */

.transition-section {
    height: 20vh;
    border-top: 5px rgb(29, 29, 29) solid;
    border-bottom: 5px rgb(29, 29, 29) solid;
}

#first-transition {
    background: url(images/macbook-4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* INTRODUCTION -------------------------------------------------------- */

#intro-section {
    text-align: center;
}

#intro-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

#intro-grid>div {
    margin: 20px;
    text-align: center;
}

#intro-grid>div>h2 {
    font-size: 4vh;
    margin: 0;
    padding: 25px 0;
}

#money-sprite {
    display: block;
    position: relative;
    height: 75%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 311px;
    max-width: 398px;
}

#certification-sprite {
    display: block;
    position: relative;
    height: 75%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 281px;
    max-width: 398px;
}

#time-sprite {
    padding-top: 10vh;
    display: block;
    position: relative;
    height: 75%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 214px;
    max-width: 258.5px;
}


/* ABOUT ME ----------------------------------------------------- */

#about-section {
    /* background-color: #53748A;860D00 */
    /* background-color: #53748A; */
    /* color: white; */
}

#about-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 2fr 1fr;
}