/* A file to include all font imports and assignments */

@font-face {
    font-family: yuseiMagic;
    src: url('../fonts/YuseiMagic-Regular.ttf');
}

@font-face {
	font-family: localRoboto;
	src: url('../fonts/Roboto-Italic.ttf');
}