@import url('https://shots.jotform.com/elton/genericTheme.css');
.form-label-left {
    width: 150px;
}

.form-line {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-label-right {
    width: 150px;
}

.form-all {
    width: 550px;
    color: rgb(255, 255, 255) !important;
    font-family: 'Muli';
    font-size: 16px;
}


/* </style> */


/* <style type="text/css" id="form-designer-style"> */


/* Injected CSS Code */


/*PREFERENCES STYLE*/

.form-all {
    font-family: Muli, sans-serif;
}

.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    font-family: Muli, sans-serif;
}

.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
    font-family: Muli, sans-serif;
}

.form-header-group {
    font-family: Muli, sans-serif;
}

.form-label {
    font-family: Muli, sans-serif;
}

.form-label.form-label-auto {
    display: inline-block;
    float: left;
    text-align: left;
}

.form-line {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-all {
    width: 550px;
}

.form-label-left,
.form-label-right,
.form-label-left.form-label-auto,
.form-label-right.form-label-auto {
    width: 150px;
}

.form-all {
    font-size: 16px
}

.form-all .qq-upload-button,
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    font-size: 16px
}

.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
    font-size: 16px
}

.supernova .form-all,
.form-all {
    background-color: rgba(0, 0, 0, 0.72);
    border: 1px solid transparent;
}

.form-all {
    color: rgb(255, 255, 255);
}

.form-header-group .form-header {
    color: rgb(255, 255, 255);
}

.form-header-group .form-subHeader {
    color: rgb(255, 255, 255);
}

.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label {
    color: rgb(255, 255, 255);
}

.form-sub-label {
    color: 1a1a1a;
}

.supernova {
    background-color: rgba(195, 195, 195, 0);
}

.supernova body {
    background: transparent;
}

.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
    background-color: rgba(255, 255, 255, 0);
}

.supernova {
    background-image: none;
}

#stage {
    background-image: none;
}

.form-all {
    background-image: none;
}

.ie-8 .form-all:before {
    display: none;
}

.ie-8 {
    margin-top: auto;
    margin-top: initial;
}


/*PREFERENCES STYLE*/


/*__INSPECT_SEPERATOR__*/


/* Injected CSS Code */